<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <title>Erreur: {{ status_code }} {{ status_text }}</title>
</head>
<body>
<h1>Cette page n'existe pas</h1>
<h2>Le serveur a retourné un "{{ status_code }} {{ status_text }}".</h2>

<div>
    C'est une page d'erreur entièrement personnalisée :)
</div>
</body>
</html>
