{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ 'menu.accueil'|trans }} - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>{{ 'dernieres_annonces'|trans }}</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <h4><a href="{{ path('oc_platform_view', {'id': advert.id}) }}">{{ advert.title }}</a></h4>
                par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}<br>
                {% if advert.image %}
                    <img src="{{ asset(advert.image.webPath) }}"
                         alt="{{ advert.image.alt }}"
                    />
                {% endif %}
                <br>
                {% if advert.categories is not null %}
                    Annonce postée dans les catégories :<br>
                    {% for category in advert.categories %}
                        {{ category.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </li>
            <hr>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>
    <ul class="pagination">
        {% for p in range(1, nbPages) %}
            <li {% if p == page %} class="active"{% endif %}>
                <a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}